<template>
  <ux-dialog>

    <ux-dialog-header style="width:1200px">
      <span style="font-weight:bold;font-size:+1">${targetOrgMap.orgDomain}</span> [ ${targetOrgMap.org.ip} ] (Jwt Token: ${targetOrgMap.org.jwt} )
    </ux-dialog-header>
    <ux-dialog-body style="width:1200px; ">

      <aup-tabs class="nav-tabs"
                tabs.bind="[{id:'tasks', label:'Tasks', active:true,}, {id:'scenarios', label:'Deployment scenarios'}]"
                translate="true"></aup-tabs>
      <aup-tab-content>
        <aup-tab-pane tab="tasks" class="active">
          <form submit.delegate="saveTaskSettings(templates.tasks)">
            <div class="container-fluid border">
              <div class="row header">
                <div class="col-lg-3">Task Name</div>
                <div class="col-lg-1">Auto-Accept</div>
                <div class="col-lg-8">Parameters</div>
              </div>
              <div class="row pre-scrollable">
                <div class="col-lg-12">
                  <div class="container-fluid scenario">
                    <div class="row" repeat.for="key of keys(templates.tasks)">
                      <div class="col-lg-3">${templates.tasks[key].name}</div>
                      <div class="col-lg-1" style="text-align: center"><input type="checkbox"
                                                                              checked.bind="templates.tasks[key].auto"></label></div>
                      <div class="col-lg-8">
                        <div class="container-fluid scenario-params">
                          <div class="row">
                            <div class="col-md-1">
<!--                              ${join(objToArray(templates.tasks[key].params))}-->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="col-auto align-items-center" style="padding-top:30px">
                <button type="submit" class="btn custom-btn " t="Save Task Settings"></button>
              </div>
            </div>
          </form>
        </aup-tab-pane>
      </aup-tab-content>


      <aup-tab-content style="height:100%">
        <aup-tab-pane tab="scenarios" style="height:100%">
          <div class="container-fluid" style="height:100%">
            <div class="row" style="height:100%">
              <div class="col-lg-12" style="height:100%">
                <aup-tabs class="nav-tabs" tabs.bind="scenarios" translate="true" style="height:100%"></aup-tabs>
                <!--TODO nav-pills-->
                <aup-tab-content style="height:100%">
                  <aup-tab-pane tab="${scenario.id}" repeat.for="scenario of scenarios" style="height:100%">

                    <form submit.delegate="launchScenario(scenario.id)" class="border">
                      <div class="form-row align-items-center">
                        <div repeat.for="formParam of scenario.params" class="col-auto" style="width:250px"
                             show.bind="formParam.visible!=='false'">
                          <label for="formParam.name">${formParam.name}:</label>
                          <input class="form-control" type="text" name="formParam.name" value.bind="formParam.value">
                        </div>
                        <div class="col-auto align-items-center" style="padding-top:30px">
                          <button type="submit" class="btn custom-btn " t="Launch Scenario"></button>
                        </div>
                      </div>
                    </form>
                    <hr/>
                    <div class="container-fluid" style="height:100%">
                      <div class="row header">
                        <div class="col-lg-1">Step</div>
                        <div class="col-lg-3">Task</div>
                        <div class="col-lg-1">Auto Approve</div>
                        <div class="col-lg-7">Parameters</div>
                      </div>

                      <div class="row pre-scrollable" style="height:500px">
                        <div class="col-lg-12" style="height:500px">
                          <div class="container-fluid scenario" style="height:500px">
                            <div class="row" repeat.for="step of scenario.steps">
                              <div class="col-lg-1">${step.stepNum}</div>
                              <div class="col-lg-3">${templates.tasks[step.task].name}</div>
                              <div class="col-lg-1" style="text-align: center">
                                <input type="checkbox" checked.bind="step.auto"></label>
                              </div>
                              <div class="col-lg-7">
                                <div class="container scenario-params">
                                  <div class="row" repeat.for="param of objToArray(step.params)">
                                    <div class="col-lg-12">
                                      <form-field title.bind="param.name"
                                                  field.two-way="param.value"></form-field>
                                      <div class="row"
                                           repeat.for="taskParam of objToArray(templates.tasks[step.task].params)">
                                        <div class="col-lg-1" style="border-style: none"></div>
                                        <div class="col-lg-11">
                                          <form-field title.bind="taskParam.name"
                                                      field.two-way="taskParam.value"></form-field>
                                          <div class="row"
                                               repeat.for="valueTaskParam of objToArray(templates.tasks[param.value], 'params')">
                                            <div class="col-lg-2" style="border-style: none"></div>
                                            <div class="col-lg-9">
                                              <form-field title.bind="valueTaskParam.name"
                                                          field.two-way="valueTaskParam.value"></form-field>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </aup-tab-pane>
                </aup-tab-content>
              </div>
            </div>
          </div>
        </aup-tab-pane>
      </aup-tab-content>


    </ux-dialog-body>

    <ux-dialog-footer style="padding-right: 30px">
      <button click.trigger="controller.cancel()">Cancel</button>
      <button click.trigger="controller.ok(orderer)">Ok</button>
    </ux-dialog-footer>
  </ux-dialog>
</template>
