<template>
  <ux-dialog>

    <ux-dialog-body style="width:600px">

      <div class="container">
        <div class="row header">
          <div class="col-hd-3">Step</div>
          <div class="col-hd-3">Action</div>
          <div class="col-hd-3">Auto Approve</div>
        </div>

        <div repeat.for="step of scenario.steps">
          <div class="row">
            <div class="col-md-3">step.name</div>
            <div class="col-md-3"></div>
            <div class="col-md-3"><input type="checkbox" checked.bind="step.auto"> Memory</label></div>
          </div>
        </div>
      </div>


      <h5>Select type</h5>
      <div class="row align-items-start">
        <div class="col-md-3" repeat.for="type of ordererTypes">
          <input type="radio" name="orderer" value.bind="type.id" autocomplete="off"
                 checked.bind='orderer.type'>
          ${type.name}
        </div>

      </div>

      <form-field title="Orderer name" field.two-way="orderer.name"></form-field>
      <form-field title="Orderer domain" field.two-way="orderer.domain"></form-field>
      <form-field title="Orderer port" field.two-way="orderer.port"></form-field>
      <form-field title="Orderer www port" field.two-way="orderer.wwwPort"></form-field>


    </ux-dialog-body>

    <ux-dialog-footer>
      <button click.trigger="controller.cancel()">Cancel</button>
      <button click.trigger="controller.ok(orderer)">Ok</button>
    </ux-dialog-footer>
  </ux-dialog>
</template>
