@keyframes go-left-right {
  from {
    right: -85%;
  }
  to {
    right: 0;
  }
}

#block {
  animation: go-left-right 3s;
  -webkit-animation: go-left-right 3s;
  position: relative;
  border-radius: 8px;
  width: 50px;
  height: 20px;
}

.custom-btn {
  background-color: #000000;
  color: white;
}

.custom-btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

