@keyframes go-left-right {
  from {
    right: -85%;
  }
  to {
    right: 0;
  }
}

#block {
  animation: go-left-right 3s;
  -webkit-animation: go-left-right 3s;
  position: relative;
  border-radius: 8px;
  width: 50px;
  height: 20px;
}

.btn{
  background-color: #000000;
}

.row-vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

.row-no-vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 0px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
