@keyframes go-left-right {
  from {
    right: -85%;
  }
  to {
    right: 0;
  }
}

#block {
  animation: go-left-right 3s;
  -webkit-animation: go-left-right 3s;
  position: relative;
  border-radius: 8px;
  width: 50px;
  height: 20px;
}

.btn{
  background-color: #000000;
  margin-top: 5px;
}
